# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=techshop_paymentdb
DB_USERNAME=root
DB_PASSWORD=123456

# VNPay Configuration (Sandbox)
VNPAY_TMN_CODE=NWC83CLJ
VNPAY_HASH_SECRET=Z1T4ELP019FXYP8F1T7WINQVY5BHJC4V
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:5173/payment-result
VNPAY_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction

# Service Configuration
SERVER_PORT=8085
EUREKA_URL=http://localhost:8761/eureka/
